{# Template for home page of user #}
{% extends "base.html" %}
{% spaceless %}
{% block content%}
<ol>
    <li>What is mysecs?
        <p>mysecs is a time tracking application developed by Joseph Jude using Django and hosted in Google App Engine</p>
    </li>
</ol>
{% endblock content%}
{% endspaceless %}