{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{%if title%}{{title|escape}} - {%endif%} {{site_name}}</title>
  <!-- META -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="content-type" name="keywords" content="mysecs, tracking time details, Django, {{site_name}}, {{title|escape}}" />
  <meta http-equiv="content-type" name="description" content="{{site_name}} - {{title}}"
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/screen.css" title="dark" />        
</head>

<body>
{%block body%}
{%endblock body%}
</body>
</html>
{%endspaceless%}