{%extends "base.html"%}

{%block body%}
<div id="index_container">
<ul id="menu">
<li><a href="http://tinyurl.com/a2lh5" target="_blank">Contact</a></li>
<li><a href="http://code.google.com/p/mysecs/downloads/list" target="_blank">Download</a></li>
<li><a href="http://www.jjude.com" target="_blank">Blog</a></li>
{%if user %}
{%if is_admin%} <li><a href="/_ah/admin">Admin</a></li>{%endif%}
{%if sign_out%} <li> <a href="{{sign_out}}">Sign out</a> </li>{%endif%}
{% else %}
{%if sign_in%} <li> <a href="{{sign_in}}">Sign in</a></li>{%endif%}
{%endif%}
<li><a href="/"><span id="menuselected">Home</span></a></li>
</ul>

<div class="border">
<div class="content">
<h1>MySecs</h1>
<div class="text"> MySecs has both client and
server tool. A Windows Client tool tracks time you spend on various
applications and sends data to a Google Application. <br />
<br />
I developed this tool primarily to learn <a href="http://en.wikipedia.org/wiki/Software_as_a_Service" target="_blank">SaaS</a> and <a href="http://en.wikipedia.org/wiki/Platform_as_a_service" target="_blank">PaaS</a> concepts and programming for <a href="http://code.google.com/appengine/" target="_blank">Google
AppEngine</a> and <a href="http://en.wikipedia.org/wiki/IronPython" target="_blank">IronPython</a>.
<br />
<br />
To get started <a href="http://code.google.com/p/mysecs/downloads/list" target="_blank">download</a> the Windows Client Tool.
Set parameters (Google User Id and Password) and start the application.
It will work at the background, monitor and send data to the server. <br />
<br />
You also have the option of hosting it on your own. Just <a href="http://code.google.com/appengine/" target="_blank">sign
up</a> for a Google AppEngine Account.
</div>
</div>
</div>
<div class="designinfo"> valid XHTML | valid CSS | Design
by Vanero </div>
</div>
{%endblock body%}