{%extends "base.html"%}

{%block body%}
<ul id="menu">
<li><a href="http://tinyurl.com/a2lh5" target="_blank">Contact</a></li>
<li><a href="http://code.google.com/p/mysecs/downloads/list" target="_blank">Download</a></li>
<li><a href="http://www.jjude.com" target="_blank">Blog</a></li>
{%if user %}
{%if is_admin%} <li><a href="/_ah/admin">Admin</a></li>{%endif%}
{%if sign_out%} <li> <a href="{{sign_out}}">Sign out</a> </li>{%endif%}
{% else %}
{%if sign_in%} <li> <a href="{{sign_in}}">Sign in</a></li>{%endif%}
{%endif%}
<li><a href="/"><span id="menuselected">Home</span></a></li>
</ul>

<div class="timeentries">
  <table>
    <tr>
      <td>Task</td><td>Task Info</td><td>Time Spent</td>
      </tr>
    {%for entry in entries%}
    <tr>
      <td>{{entry.task}}</td><td>{{entry.taskinfo}}</td><td>{{entry.timespent}}</td>      
      </tr>
    {%endfor%}
    </table>
</div>
{%endblock body%}